@font-face {
  font-family: "Mollen";
  src: url("fonts/Mollen\ Personal\ Use-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cream-cake";
  src: url("fonts/Cream\ Cake.woff2") format("woff2");
}

* {
  font-family: "Mollen", "SF UI Text", sans-serif;
  margin: 0;
  padding: 0;
}

/*                                                                 Burger menu */

.span-container,
.checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: 3%;
  transform: translateY(-50%);
}

.checkbox {
  opacity: 0;
  z-index: 100;
}

.span-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 90;
}

.span-container span {
  width: 100%;
  height: 2px;
  background: black;
  transition: all 250ms ease;
  transform-origin: 0 0;
}

.checkbox:checked ~ .span-container span:nth-last-child(1) {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.checkbox:checked ~ .span-container span:nth-last-child(2) {
  transform: rotate(0deg) scale(0.1, 0.1);
  opacity: 0;
}

.checkbox:checked ~ .span-container span:nth-last-child(3) {
  transform: rotate(45deg) translate(0px, -1px);
}

.checkbox:checked ~ .menu-mobile {
  transform: translateX(0%);
}

.menu-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 50;
  padding-top: 30px;
  background: #252945;
  transition: all 250ms ease-out;
  transform: translateX(-100%);
  flex-direction: column;
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.menu-mobile li {
  list-style: none;
  padding: 10px;
}

.menu-mobile li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu-mobile li a :hover {
  color: #46ecae;
  transition: 0.3s;
}

/*                                                                 Website title */

h1,
h2 {
  font-family: "Cream-Cake", "SF UI Text", sans-serif;
}

/*                                                                 Full hero */

.full-hero {
  display: flex;
  background-image: url("Pictures/China.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

/*                                                                 Surpise box banner */

.box-surprise {
  background-color: #5badff;
  height: 155px;
  width: 100%;
  color: white;
}

/*                                                                 Concept section */

.first-concept,
.second-concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 746px;
}

.concept-pictures {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 94px;
}

/*                                                                 Chinese banner */

.chinese-banner {
  background-image: url("Pictures/bandeau chine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 155px;
  width: 100%;
}

/*                                                                Client advice */

.client-advice {
  display: flex;
  height: 479px;
}

/*                                                                 Footer */

.footer-nav {
  display: flex;
  align-items: center;
  background-color: #5badff;
  height: 41.5px;
}

.footer-icons {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 41.5px;
  align-items: center;
}

.secure-icons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
