html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Mollen-bold";
  font-display: swap;
  src: url("fonts/mollen-bold.woff") format("woff");
}

@font-face {
  font-family: "Mollen-regular";
  font-display: swap;
  src: url("fonts/mollen-regular.woff") format("woff");
}

@font-face {
  font-family: "Cream-cake";
  font-display: swap;
  src: url("fonts/cream-cake.woff") format("woff");
}

.banner-title,
.client-name,
figcaption,
a,
.average,
.number-advice,
.copyright {
  font-family: "Mollen-bold";
}

p,
.banner-text,
time,
li,
.label-search {
  font-family: "Mollen-Regular";
}

p {
  font-size: 16px;
}
/*                                                                 Header */

header {
  display: flex;
  width: 100%;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  position: fixed;
  background: white;
  z-index: 1;
}

.website-logo-groups {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right strong {
  display: none;
}

.nav-right a {
  padding-right: 10px;
}

.nav-left {
  display: flex;
  justify-content: space-evenly;
}

.website-logo {
  width: 30px;
  margin-left: 50px;
  margin-right: 11px;
}

.logo-groups {
  display: flex;
  font-size: 20px;
}

.cart,
.account {
  height: 30px;
  padding-right: 12px;
}

.label-search {
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 10px;
  pointer-events: none;
}
.search {
  position: relative;
}

.search input {
  width: 300px;
  height: 30px;
}

.nav-right a {
  color: black;
  margin-right: 11px;
  border-right: 1px solid black;
  font-size: 16px;
}

.nav-right a:last-child {
  border-right: none;
}

.label-search {
  color: #959595;
}

.search {
  display: none;
}

/*                                                                 Burger menu */

.span-container,
.checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 11px;
  top: 27px;
  transform: translateY(-50%);
}

.checkbox {
  opacity: 0;
  z-index: 100;
}

.label {
  display: none;
}

.span-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 90;
}

.span-container span {
  width: 100%;
  height: 2px;
  background: black;
  transition: all 250ms ease;
  transform-origin: 0 0;
}

.checkbox:checked ~ .span-container span:nth-last-child(1) {
  transform: rotate(-45deg) translate(-1px, 0px);
}

.checkbox:checked ~ .span-container span:nth-last-child(2) {
  transform: rotate(0deg) scale(0.1, 0.1);
  opacity: 0;
}

.checkbox:checked ~ .span-container span:nth-last-child(3) {
  transform: rotate(45deg) translate(0px, -1px);
}

.checkbox:checked ~ .menu-mobile {
  transform: translateX(0%);
}

.menu-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 50;
  padding-top: 30px;
  background: #252945;
  transition: all 250ms ease-out;
  transform: translateX(-100%);
  flex-direction: column;
  top: 0;
}

.menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.menu-mobile li {
  list-style: none;
  padding: 10px;
}

.menu-mobile li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu-mobile li a :hover {
  color: #46ecae;
  transition: 0.3s;
}

/*                                                                 Website title */

.website-title,
.section-title {
  font-family: "Cream-Cake", "SF UI Text", sans-serif;
}

.website-title,
.banner-title {
  font-size: 27px;
}

.section-title {
  font-size: 40px;
  margin-bottom: 100px;
}

.banner-text {
  font-size: 15px;
}

/*                                                                 Full hero */

.full-hero {
  display: flex;
  background-image: url("Pictures/webp/china-mobile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  color: white;
}

.last-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 90%;
  height: 80%;
}

/*                                                                 Surpise box banner */

.box-surprise {
  background-color: #5badff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 54px 0px 54px 0px;
}

.right-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.subscribe-button,
.buy-button,
.advice-button,
.subscribe-button-nav {
  width: 123px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  background-color: #f78c22;
  font-size: 18px;
}

.subscribe-button-nav {
  width: 123px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  background-color: #f78c22;
  font-size: 18px;
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.surprise-box {
  display: none;
  width: 300px;
}
/*                                                                 Concept section */

.first-concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 57px;
}

.second-concept {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 114px;
}

.concept-pictures {
  display: flex;
  justify-content: center;
  object-fit: cover;
  margin-bottom: 19px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

figcaption {
  margin: 21px 0 21px 0;
  text-align: center;
  padding: 0 0px 0px 0px;
}

.concept-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit;
  width: 100%;
}
/*                                                                 Chinese banner */

.chinese-banner {
  background-image: url("Pictures/webp/china-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 54px 0px 54px 0px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.chinese-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/*                                                                Client advice */

.groups-advice {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.carousel-cell {
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  scroll-snap-align: start;
  position: relative;
  box-sizing: border-box;
}

.client-advice {
  display: flex;
  flex-direction: column;
  padding: 52px 0px 105px 0px;
  justify-content: space-evenly;
  margin: 0 10px 0 10px;
}

.client-advice .advice-button {
  margin-left: 10px;
}

.section-title {
  display: flex;
  justify-content: center;
}

.client-profil {
  display: flex;
  align-items: center;
}

.client-pictures {
  margin-right: 13px;
}

.first-advice {
  display: flex;
  flex-direction: column;
}

.star-notation {
  width: 100px;
  margin-top: 10px;
}

.average {
  display: flex;
  justify-content: flex-start;
  margin: 50px 0 43px 10px;
}

.comment-advice,
.time-notation {
  margin-left: 50px;
}

.time-notation,
.star-notation {
  margin: 0 0 22px 50px;
}

.coment-advice,
.star-notation {
  margin-top: 11px;
  margin-bottom: 11px;
}
.client-name {
  order: 2;
}

.see-more {
  display: none;
  color: black;
  text-decoration: underline;
  justify-content: center;
}

.number-advice {
  display: flex;
  font-size: 16px;
}

/*****************************************************************************Footer */

.footer-nav {
  display: flex;
  align-items: center;
  background-color: #5badff;
  justify-content: space-around;
  font-size: 12px;
}

.footer-nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.footer-nav li {
  font-size: 15px;
  padding: 25px 0 25px 0;
  display: none;
}

.footer-nav h2 {
  font-size: 20px;
}

.footer-nav h1 {
  font-size: 50px;
  display: none;
}

.footer-logo {
  width: 53px;
  margin-bottom: 30px;
  display: none;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.secure-groups {
  display: flex;
  justify-content: flex-end;
}

.social-groups {
  display: flex;
  justify-content: flex-start;
}

.social-logo {
  margin-left: 7px;
  width: 30px;
}

.secure-logo {
  margin-right: 15px;
  width: 30px;
}

.contact-footer img {
  width: 48px;
  display: none;
}

.copyright {
  display: none;
}

/*****************************************************************Responsive tablet layout */

@media (min-width: 750px) {
  .full-hero {
    background-image: url("Pictures/webp/china-tablet.webp");
    height: 60vh;
  }
}

/*****************************************************************Responsive desktop layout */

@media (min-width: 1200px) {
  /***************************************************************Desktop header nav */

  header {
    padding-bottom: 0;
  }

  .span-container {
    display: none;
  }

  .menu-mobile {
    display: flex;
    transform: none;
    background: none;
    height: auto;
    position: initial;
    padding: 0 0 0 0;
    width: 100%;
  }

  .menu-mobile ul li a {
    color: black;
  }

  .menu-mobile ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
  }

  .menu-mobile ul li {
    padding: 0 0 0 51px;
    font-size: 14px;
  }

  .nav-left {
    flex-direction: column-reverse;
  }

  .search {
    display: initial;
  }

  .subscribe-button-nav {
    display: block;
    padding-bottom: 0;
  }

  .logo-groups h1 {
    font-size: 35px;
  }

  .website-logo-groups {
    padding: 15px 60px 15px 60px;
    box-shadow: 0 4px 4px rgba(211, 211, 211, 0.274);
    width: auto;
  }

  .nav-right strong {
    display: flex;
    align-items: center;
  }

  .nav-right a:last-child {
    border-right: 1px solid black;
  }

  .nav-right a {
    display: flex;
  }

  /***************************************************************Desktop full hero */

  .full-hero {
    background-image: url("Pictures/webp/china-desktop.webp");
    height: 60vh;
  }

  /***************************************************************Desktop concept section */

  .first-concept {
    padding: 114px;
  }

  figcaption {
    padding: 0 40px 0 40px;
  }

  /***************************************************************Desktop surprise box banner */

  .box-surprise {
    flex-direction: row;
    padding: 60px 0 60px 0;
  }

  .surprise-box {
    display: flex;
  }

  .right-content {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  /***************************************************************Desktop chinese banner */

  .subscribe-button {
    margin: 0 100px 0 0;
  }

  .chinese-banner {
    justify-content: flex-end;
    padding: 110px 0 110px 0;
  }

  .chinese-content {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 253px;
  }

  .banner-text {
    margin-bottom: 35px;
  }

  /***************************************************************Desktop client advice */

  .advice-button {
    display: flex;
    justify-content: center;
    align-self: end;
    margin-right: 50px;
  }

  .client-advice {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }

  .carousel-cell {
    border-right: 1px solid white;
    padding: 1rem;
    min-width: 40vw;
    scroll-snap-align: start;
    box-sizing: border-box;
    width: 50%;
  }

  .number-advice {
    display: block;
    padding-left: 36px;
  }

  .average {
    margin-left: 0;
    padding-left: 36px;
  }

  .groups-advice article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
  }

  .comment-advice {
    padding-right: 100px;
  }
  .groups-advice {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 0 20px;
    overflow-x: unset;
  }

  .see-more {
    display: flex;
    padding-top: 60px;
  }

  /***************************************************************Desktop footer */

  .footer-nav {
    align-items: flex-start;
    justify-content: space-around;
    padding: 36px 0 36px 0;
  }

  .contact-footer img {
    display: inline;
  }

  .footer-nav li {
    display: list-item;
  }

  .footer-nav h1,
  .footer-logo {
    display: block;
  }

  .social-groups {
    display: none;
  }

  .copyright {
    display: flex;
  }
}
